body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding: 0;
  overflow:hidden;
  font-family: arial;
  font-size: 12px; /* remember to set defaultFontSize to this value in .js file */
}

#topGraphDiv {
  position: relative;
}

#btnDiv {
  position: relative;
  border: 2px;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  z-index: 5;
}

#logos {
  pointer-events: none;
  z-index: -100;
}

#helpBtn, #optionsBtn {
  width: 61px; 
  margin: 0 auto;
  opacity: 0.4;
}

#helpBtn:hover, #optionsBtn:hover {
  opacity: 1.0;
}

#colorPalette {
  margin: 0 auto;
  z-index: 5;
}

#shapeDiv {
  width: 93px;
  margin: 0 auto;
}


#shapeSelectionDiv {
  position: relative;
  z-index: 5;
}

.colorBar:hover, #menuDiv:hover, #eqShapeSizeSubmenuDiv:hover  {
  cursor: pointer;
}

.colorBar {
  height: 6px;
  width: 50px;
  margin: 0 auto;
  border: 2px solid #000000;
}

#toolbox {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1em;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1em;
  z-index: 5;
}

#toolbox .iconInput {
  width: 30px;
  opacity: 0.4;
}

#circleSelection:hover,
#rectangleSelection:hover,
#diamondSelection:hover,
#ellipseSelection:hover, 
#starSelection:hover, 
#solidEdgeSelection:hover,
#dashedEdgeSelection:hover,
#noBorderSelection:hover {
/* .shapeSelection:hover { Fill doesn't display */
  opacity: 1;
  cursor: pointer;
  fill: rgb(200, 238, 241);
}

.unsel {
  opacity: 0.4;
}

.sel {
  opacity: 1.0;
}

#edgeStyleSelectionSvg, #shapeSelectionSvg {
  text-align: center;
  display: block;
  margin: auto;
}

.edgeStyleRect {
  stroke-width: 0px;
  fill: rgb(248, 248, 248);
}

#toolbox input:hover {
  opacity: 1;
  cursor: pointer;
}

#hidden-file-upload, #hidden-textFile-upload {
  display: none;
}

#download-input {
  margin: 0 0.5em;
}

g.shapeG circle, g.shapeG rect, g.shapeG ellipse, g.shapeG path, g.shapeG polygon,
#shapeSelectionSvg circle, #shapeSelectionSvg rect, #shapeSelectionSvg ellipse,
#shapeSelectionSvg polygon  {
/*g.shapeG .shape, #shapeSelectionSvg .shapeSelection {*/
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}

g circle, g rect, g ellipse, g polygon, g path {
  fill: rgb(248, 248, 248);
}

g.shapeG:hover:not(.selected) .shape {
  fill: rgb(200, 238, 241); 
}

g.selected circle, g.selected rect, g.selected ellipse, g.selected path, g.selected polygon {
  fill: rgb(250, 232, 255);
}

path.link {
  fill: none;
  stroke: #333;
  cursor: default;
}

g.connect-node circle {
  fill: #BEFFFF;
}

path.link.hidden {
  stroke-width: 0;
}

path.link.selected, g.pathG.selected path {
  stroke: rgb(229, 172, 247); /* selected color */
}

.menuHidden {
  display: none;
}

.menu {
  position: absolute;
  display: inline-block;
  border: 1px solid #000000;
  z-index:1000;
  margin-top: 0px;
  margin-bottom: 4px;
}

.menu,
.menu li {
  padding: 0px;
  margin: 0px;
  background-color: #F6FBFF;
}

.menu li {
  position: relative;
  margin-left: -12px;
  margin-right: 12px;
}

.menu li:hover {
  background-color: rgb(200, 238, 241);
}

.menuHidden li {
  display: none;
}

.circleHidden, .ssmHidden {
  display: none;
}

.circleOfCare, .ssmVisible {
  display: inline-block;
  stroke: #000000;
  stroke-width: 1px;
  fill: none;
}
.ssmCircle {
  display: inline-block;
  stroke-width: 1px;
  fill: none;
}

.ssmLabel {
  text-align: center;
  stroke: none;
  position: absolute;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
